# DataFrames Exercises

Do your work for this exercise in a python script or a jupyter notebook with the name dataframes.py or dataframes.ipynb.

For several of the following exercises, you'll need to load several datasets using the pydataset library. (If you get an error when trying to run the import below, use pip to install the pydataset package.)


            from pydataset import data


When the instructions say to load a dataset, you can pass the name of the dataset as a string to the data function to load the dataset. You can also view the documentation for the data set by passing the show_doc keyword argument.


       # data('mpg', show_doc=True) # view the documentation for the dataset
    mpg = data('mpg') # load the dataset and store it in a variable
    
    
All the datasets loaded from the pydataset library will be pandas dataframe

In [ ]:
from pydataset import data

In [2]:
data

In [5]:
mpg = data('mpg')

In [6]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

1). Copy the code from the lesson to create a dataframe full of student grades.

a). Create a column named passing_english that indicates whether each student has a passing grade in english.

b). Sort the english grades by the passing_english column. How are duplicates handled?

c). Sort the english grades first by passing_english and then by student name. All the students 
that are failing english should be first, and within the students that are failing english 
they should be ordered alphabetically. The same should be true for the students passing 
english. (Hint: you can pass a list to the .sort_values method)

d). Sort the english grades first by passing_english, and then by the actual english grade, similar to how we did in the last step.

e). Calculate each students overall grade and add it as a column on the dataframe. The overall grade is the average of the math, english, and reading grades.

# 2. Load the mpg dataset. Read the documentation for the dataset and use it for the following questions:

    --> How many rows and columns are there?

    --> What are the data types of each column?

    --> Summarize the dataframe with .info and .describe

    --> Rename the cty column to city.

    --> Rename the hwy column to highway.

    --> Do any cars have better city mileage than highway mileage?

    --> Create a column named mileage_difference this column should contain the difference between highway and city mileage for each car.

    --> Which car (or cars) has the highest mileage difference?

    --> Which compact class car has the lowest highway mileage? The best?

    --> Create a column named average_mileage that is the mean of the city and highway mileage.

    --> Which dodge car has the best average mileage? The worst?

# 3. Load the Mammals dataset. Read the documentation for it, and use the data to answer these questions:

    --> How many rows and columns are there?

    --> What are the data types?

    --> Summarize the dataframe with .info and .describe

    --> What is the the weight of the fastest animal?

    --> What is the overal percentage of specials?

    --> How many animals are hoppers that are above the median speed? What percentage is this?