# Exercises Part I

## Make a file named pandas_series.py or pandas_series.ipynb for the following exercises.

Use pandas to create a Series named fruits from the following list:


    ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]
Use Series attributes and methods to explore your fruits Series.

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [4]:
fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])

In [8]:
fruits.index

RangeIndex(start=0, stop=17, step=1)

Determine the number of elements in fruits.

In [12]:
print('Number of elements: ',len(fruits))

Number of elements:  17

Output only the index from fruits.

In [14]:
fruits.index.tolist()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

Output only the values from fruits.

In [15]:
fruits.values.tolist()

['kiwi',
 'mango',
 'strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'kiwi',
 'kiwi',
 'kiwi',
 'mango',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

Confirm the data type of the values in fruits.

In [18]:
print('Fruit\'s Values datatype is :',type(fruits.values.tolist()))

Fruit's Values datatype is : <class 'list'>

Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [19]:
fruits.head(5)

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [21]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

Run the code necessary to produce only the unique string values from fruits.

In [23]:
fruits.astype('str')

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

Determine how many times each unique string value occurs in fruits.

In [29]:
fruits.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

Determine the string value that occurs most frequently in fruits.

In [51]:
most_frequent = fruits.value_counts()
display(most_frequent.idxmax())

'kiwi'

Determine the string value that occurs least frequently in fruits.

In [54]:
least_frequent = fruits.value_counts()
display(least_frequent.idxmin())

'strawberry'

# Exercises Part II

## Explore more attributes and methods while you continue to work with the fruits Series.

Capitalize all the string values in fruits.

In [57]:
fruits.str.upper()

0                 KIWI
1                MANGO
2           STRAWBERRY
3            PINEAPPLE
4           GALA APPLE
5     HONEYCRISP APPLE
6               TOMATO
7           WATERMELON
8             HONEYDEW
9                 KIWI
10                KIWI
11                KIWI
12               MANGO
13           BLUEBERRY
14          BLACKBERRY
15          GOOSEBERRY
16              PAPAYA
dtype: object

Lower all the string values in fruits.

In [58]:
fruits.str.lower()

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

Count the letter "a" in all the string values (use string vectorization).

In [74]:
count_a = fruits.str.count('a')


count_a

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

Output the number of vowels in each and every string value.

In [105]:
vowels = ['a', 'e','i','o','u']

vowel_count = []

for chars in fruits:
    
    for ch in list(chars):
        
        if ch in vowels:
            
            vowel_count.append(ch)
            
print(vowel_count)
print('------------------------------')
print('Vowel Count is: ',len(vowel_count))
print('------------------------------')

['i', 'i', 'a', 'o', 'a', 'e', 'i', 'e', 'a', 'e', 'a', 'a', 'a', 'e', 'o', 'e', 'i', 'a', 'e', 'o', 'a', 'o', 'a', 'e', 'e', 'o', 'o', 'e', 'e', 'i', 'i', 'i', 'i', 'i', 'i', 'a', 'o', 'u', 'e', 'e', 'a', 'e', 'o', 'o', 'e', 'e', 'a', 'a', 'a']
------------------------------
Vowel Count is:  49
------------------------------

In [118]:
# vowels = list('aeiou')

# fruits_chars = list(fruits.str)

# fruits_vowels = fruits_chars.isin([vowels])

# fruits_vowels

Write the code to get the longest string value from fruits.

In [134]:
fruits.sort_values()

14          blackberry
13           blueberry
4           gala apple
15          gooseberry
5     honeycrisp apple
8             honeydew
11                kiwi
10                kiwi
9                 kiwi
0                 kiwi
12               mango
1                mango
16              papaya
3            pineapple
2           strawberry
6               tomato
7           watermelon
dtype: object

In [ ]:
# ?????????????????????????

Write the code to get the string values with 5 or more letters in the name.

In [171]:
fruits[fruits.str.count('c')]

0     kiwi
0     kiwi
0     kiwi
0     kiwi
0     kiwi
1    mango
0     kiwi
0     kiwi
0     kiwi
0     kiwi
0     kiwi
0     kiwi
0     kiwi
0     kiwi
1    mango
0     kiwi
0     kiwi
dtype: object

Use the .apply method with a lambda function to find the fruit(s) containing the letter "o" two or more times.

In [177]:
fruits[fruits.str.count('o')]
# ????????????????????????

0          kiwi
1         mango
0          kiwi
0          kiwi
0          kiwi
1         mango
2    strawberry
1         mango
1         mango
0          kiwi
0          kiwi
0          kiwi
1         mango
0          kiwi
0          kiwi
2    strawberry
0          kiwi
dtype: object

Write the code to get only the string values containing the substring "berry".

In [184]:
fruits[fruits.str.lower().str.endswith('berry')]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

Write the code to get only the string values containing the substring "apple".

In [187]:
fruits[fruits.str.lower().str.contains('apple')]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

# Exercises Part III

## Use pandas to create a Series named letters from the following string. The easiest way to make this string into a Pandas series is to use list to convert each individual letter into a single string on a basic Python list.


    data= 'hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy'

Which letter occurs the most frequently in the letters Series?

In [2]:
initial_letters = pd.Series(['hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy'])

Which letter occurs the Least frequently?

In [3]:
# With Python for loop

letters = []

for ch in initial_letters:
    for c in list(ch):
        
        letters.append(c)
        
print(letters)

['h', 'n', 'v', 'i', 'd', 'd', 'u', 'c', 'k', 'k', 'q', 'x', 'w', 'y', 'm', 'b', 'i', 'm', 'k', 'c', 'c', 'e', 'x', 'b', 'k', 'm', 'q', 'y', 'g', 'k', 'x', 'o', 'y', 'n', 'd', 'm', 'c', 'x', 'n', 'w', 'q', 'a', 'r', 'h', 'y', 'f', 'f', 's', 'j', 'p', 's', 'r', 'a', 'b', 't', 'j', 'z', 's', 'y', 'p', 'm', 'z', 'a', 'd', 'f', 'a', 'v', 'y', 'r', 'n', 'n', 'd', 'n', 'd', 'v', 's', 'w', 'r', 'e', 'a', 'u', 'x', 'o', 'v', 'n', 'c', 'x', 't', 'w', 'z', 'p', 'w', 'e', 'j', 'i', 'l', 'z', 'j', 'r', 'm', 'm', 'b', 'b', 'g', 'b', 'y', 'x', 'v', 'j', 't', 'e', 'w', 'q', 't', 'h', 'a', 'f', 'n', 'b', 'k', 'q', 'p', 'l', 'a', 'r', 'o', 'k', 'k', 'y', 'y', 'd', 't', 'u', 'b', 'b', 'm', 'n', 'e', 'x', 'o', 'y', 'p', 'u', 'l', 'z', 'w', 'f', 'h', 'q', 'v', 'c', 'k', 'd', 'p', 'q', 't', 'p', 'o', 'p', 'p', 'z', 'q', 'r', 'm', 'c', 'v', 'h', 'h', 'p', 'w', 'g', 'j', 'w', 'u', 'p', 'g', 'z', 'h', 'i', 'o', 'f', 'o', 'h', 'a', 'w', 'y', 't', 'l', 's', 'i', 'y', 'e', 'c', 'u', 'p', 'r', 'o', 'g', 'u', 'y']

In [21]:
# With List Comprehension
letters = []
[letters.append(c) for ch in initial_letters for c in list(ch)]
print(letters,end='')

['h', 'n', 'v', 'i', 'd', 'd', 'u', 'c', 'k', 'k', 'q', 'x', 'w', 'y', 'm', 'b', 'i', 'm', 'k', 'c', 'c', 'e', 'x', 'b', 'k', 'm', 'q', 'y', 'g', 'k', 'x', 'o', 'y', 'n', 'd', 'm', 'c', 'x', 'n', 'w', 'q', 'a', 'r', 'h', 'y', 'f', 'f', 's', 'j', 'p', 's', 'r', 'a', 'b', 't', 'j', 'z', 's', 'y', 'p', 'm', 'z', 'a', 'd', 'f', 'a', 'v', 'y', 'r', 'n', 'n', 'd', 'n', 'd', 'v', 's', 'w', 'r', 'e', 'a', 'u', 'x', 'o', 'v', 'n', 'c', 'x', 't', 'w', 'z', 'p', 'w', 'e', 'j', 'i', 'l', 'z', 'j', 'r', 'm', 'm', 'b', 'b', 'g', 'b', 'y', 'x', 'v', 'j', 't', 'e', 'w', 'q', 't', 'h', 'a', 'f', 'n', 'b', 'k', 'q', 'p', 'l', 'a', 'r', 'o', 'k', 'k', 'y', 'y', 'd', 't', 'u', 'b', 'b', 'm', 'n', 'e', 'x', 'o', 'y', 'p', 'u', 'l', 'z', 'w', 'f', 'h', 'q', 'v', 'c', 'k', 'd', 'p', 'q', 't', 'p', 'o', 'p', 'p', 'z', 'q', 'r', 'm', 'c', 'v', 'h', 'h', 'p', 'w', 'g', 'j', 'w', 'u', 'p', 'g', 'z', 'h', 'i', 'o', 'f', 'o', 'h', 'a', 'w', 'y', 't', 'l', 's', 'i', 'y', 'e', 'c', 'u', 'p', 'r', 'o', 'g', 'u', 'y']

How many vowels are in the Series?

How many consonants are in the Series?

Create a Series that has all of the same letters but uppercased.

Create a bar plot of the frequencies of the 6 most commonly occuring letters.

## Use pandas to create a Series named numbers from the following list:


    ['$796,459.41', '$278.60', '$482,571.67', '$4,503,915.98', '$2,121,418.3', 
     '$1,260,813.3', '$87,231.01', '$1,509,175.45', '$4,138,548.00', '$2,848,913.80', 
     '$594,715.39', '$4,789,988.17', '$4,513,644.5', '$3,191,059.97', '$1,758,712.24', 
     '$4,338,283.54', '$4,738,303.38', '$2,791,759.67', '$769,681.94', '$452,650.23']

What is the data type of the numbers Series?

How many elements are in the number Series?

Perform the necessary manipulations by accessing Series attributes and methods to convert the numbers 
Series to a numeric data type.

Run the code to discover the maximum value from the Series.

Run the code to discover the minimum value from the Series.

What is the range of the values in the Series?

Bin the data into 4 equally sized intervals or bins and output how many values fall into each bin.

Plot the binned data in a meaningful way. Be sure to include a title and axis labels.

## Use pandas to create a Series named exam_scores from the following list:

     [60, 86, 75, 62, 93, 71, 60, 83, 95, 78, 65, 72, 69, 81, 96, 80, 85, 92, 82, 78]

How many elements are in the exam_scores Series?

Run the code to discover the minimum, the maximum, the mean, and the median scores for the exam_scores Series.

Plot the Series in a meaningful way and make sure your chart has a title and axis labels.

Write the code necessary to implement a curve for your exam_grades Series and save this as 
curved_grades. Add the necessary points to the highest grade to make it 100, and add the same 
number of points to every other score in the Series as well.

Use a method to convert each of the numeric values in the curved_grades Series into a categorical value of letter grades. For example, 86 should be a 'B' and 95 should be an 'A'. Save this as a Series named letter_grades.

Plot your new categorical letter_grades Series in a meaninful way and include a title and axis labels.