# Exercises Part I

## Make a file named pandas_series.py or pandas_series.ipynb for the following exercises.

Use pandas to create a Series named fruits from the following list:


    ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]
Use Series attributes and methods to explore your fruits Series.

In [111]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [4]:
fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])

In [8]:
fruits.index

RangeIndex(start=0, stop=17, step=1)

Determine the number of elements in fruits.

In [12]:
print('Number of elements: ',len(fruits))

Number of elements:  17

Output only the index from fruits.

In [14]:
fruits.index.tolist()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

Output only the values from fruits.

In [15]:
fruits.values.tolist()

['kiwi',
 'mango',
 'strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'kiwi',
 'kiwi',
 'kiwi',
 'mango',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

Confirm the data type of the values in fruits.

In [18]:
print('Fruit\'s Values datatype is :',type(fruits.values.tolist()))

Fruit's Values datatype is : <class 'list'>

Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [19]:
fruits.head(5)

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [21]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

Run the code necessary to produce only the unique string values from fruits.

In [23]:
fruits.astype('str')

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

Determine how many times each unique string value occurs in fruits.

In [29]:
fruits.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

Determine the string value that occurs most frequently in fruits.

In [51]:
most_frequent = fruits.value_counts()
display(most_frequent.idxmax())

'kiwi'

Determine the string value that occurs least frequently in fruits.

In [54]:
least_frequent = fruits.value_counts()
display(least_frequent.idxmin())

'strawberry'

# Exercises Part II

## Explore more attributes and methods while you continue to work with the fruits Series.

Capitalize all the string values in fruits.

In [57]:
fruits.str.upper()

0                 KIWI
1                MANGO
2           STRAWBERRY
3            PINEAPPLE
4           GALA APPLE
5     HONEYCRISP APPLE
6               TOMATO
7           WATERMELON
8             HONEYDEW
9                 KIWI
10                KIWI
11                KIWI
12               MANGO
13           BLUEBERRY
14          BLACKBERRY
15          GOOSEBERRY
16              PAPAYA
dtype: object

Lower all the string values in fruits.

In [58]:
fruits.str.lower()

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

Count the letter "a" in all the string values (use string vectorization).

In [74]:
count_a = fruits.str.count('a')


count_a

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

Output the number of vowels in each and every string value.

In [105]:
vowels = ['a', 'e','i','o','u']

vowel_count = []

for chars in fruits:
    
    for ch in list(chars):
        
        if ch in vowels:
            
            vowel_count.append(ch)
            
print(vowel_count)
print('------------------------------')
print('Vowel Count is: ',len(vowel_count))
print('------------------------------')

['i', 'i', 'a', 'o', 'a', 'e', 'i', 'e', 'a', 'e', 'a', 'a', 'a', 'e', 'o', 'e', 'i', 'a', 'e', 'o', 'a', 'o', 'a', 'e', 'e', 'o', 'o', 'e', 'e', 'i', 'i', 'i', 'i', 'i', 'i', 'a', 'o', 'u', 'e', 'e', 'a', 'e', 'o', 'o', 'e', 'e', 'a', 'a', 'a']
------------------------------
Vowel Count is:  49
------------------------------

In [118]:
# vowels = list('aeiou')

# fruits_chars = list(fruits.str)

# fruits_vowels = fruits_chars.isin([vowels])

# fruits_vowels

Write the code to get the longest string value from fruits.

In [134]:
fruits.sort_values()

14          blackberry
13           blueberry
4           gala apple
15          gooseberry
5     honeycrisp apple
8             honeydew
11                kiwi
10                kiwi
9                 kiwi
0                 kiwi
12               mango
1                mango
16              papaya
3            pineapple
2           strawberry
6               tomato
7           watermelon
dtype: object

In [ ]:
# ?????????????????????????

Write the code to get the string values with 5 or more letters in the name.

In [171]:
fruits[fruits.str.count('c')]

0     kiwi
0     kiwi
0     kiwi
0     kiwi
0     kiwi
1    mango
0     kiwi
0     kiwi
0     kiwi
0     kiwi
0     kiwi
0     kiwi
0     kiwi
0     kiwi
1    mango
0     kiwi
0     kiwi
dtype: object

Use the .apply method with a lambda function to find the fruit(s) containing the letter "o" two or more times.

In [177]:
fruits[fruits.str.count('o')]
# ????????????????????????

0          kiwi
1         mango
0          kiwi
0          kiwi
0          kiwi
1         mango
2    strawberry
1         mango
1         mango
0          kiwi
0          kiwi
0          kiwi
1         mango
0          kiwi
0          kiwi
2    strawberry
0          kiwi
dtype: object

Write the code to get only the string values containing the substring "berry".

In [184]:
fruits[fruits.str.lower().str.endswith('berry')]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

Write the code to get only the string values containing the substring "apple".

In [187]:
fruits[fruits.str.lower().str.contains('apple')]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object