## Exercises Part I

Make a file named pandas_series.py or pandas_series.ipynb for the following exercises.

Use pandas to create a Series named fruits from the following list:


    ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]
Use Series attributes and methods to explore your fruits Series.

In [3]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [4]:
fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])

In [5]:
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [8]:
fruits.index

RangeIndex(start=0, stop=17, step=1)

Determine the number of elements in fruits.

In [12]:
print('Number of elements: ',len(fruits))

Number of elements:  17

Output only the index from fruits.

In [14]:
fruits.index.tolist()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

Output only the values from fruits.

In [15]:
fruits.values.tolist()

['kiwi',
 'mango',
 'strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'kiwi',
 'kiwi',
 'kiwi',
 'mango',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

Confirm the data type of the values in fruits.

In [18]:
print('Fruit\'s Values datatype is :',type(fruits.values.tolist()))

Fruit's Values datatype is : <class 'list'>

Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

Run the .describe() on fruits to see what information it returns when called on a Series with string values.

Run the code necessary to produce only the unique string values from fruits.

Determine how many times each unique string value occurs in fruits.

Determine the string value that occurs most frequently in fruits.

Determine the string value that occurs least frequently in fruits.