# Exercises Part I

## Make a file named pandas_series.py or pandas_series.ipynb for the following exercises.

Use pandas to create a Series named fruits from the following list:


    ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]
Use Series attributes and methods to explore your fruits Series.

In [3]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [4]:
fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])

In [8]:
fruits.index

RangeIndex(start=0, stop=17, step=1)

Determine the number of elements in fruits.

In [12]:
print('Number of elements: ',len(fruits))

Number of elements:  17

Output only the index from fruits.

In [14]:
fruits.index.tolist()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

Output only the values from fruits.

In [15]:
fruits.values.tolist()

['kiwi',
 'mango',
 'strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'kiwi',
 'kiwi',
 'kiwi',
 'mango',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

Confirm the data type of the values in fruits.

In [18]:
print('Fruit\'s Values datatype is :',type(fruits.values.tolist()))

Fruit's Values datatype is : <class 'list'>

Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [19]:
fruits.head(5)

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [21]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

Run the code necessary to produce only the unique string values from fruits.

In [23]:
fruits.astype('str')

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

Determine how many times each unique string value occurs in fruits.

In [29]:
fruits.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

Determine the string value that occurs most frequently in fruits.

In [51]:
most_frequent = fruits.value_counts()
display(most_frequent.idxmax())

'kiwi'

Determine the string value that occurs least frequently in fruits.

In [54]:
least_frequent = fruits.value_counts()
display(least_frequent.idxmin())

'strawberry'

# Exercises Part II

## Explore more attributes and methods while you continue to work with the fruits Series.

Capitalize all the string values in fruits.

Capitalize all the string values in fruits.

Count the letter "a" in all the string values (use string vectorization).

Output the number of vowels in each and every string value.

Write the code to get the longest string value from fruits.

Write the code to get the string values with 5 or more letters in the name.

Use the .apply method with a lambda function to find the fruit(s) containing the letter "o" two or more times.

Write the code to get only the string values containing the substring "berry".

Write the code to get only the string values containing the substring "apple".